{% extends 'base.html' %}
{% load static %}
{% block questions %}
<div id="question-container">
    <div class="question" id="question1">
        <div class="question-title">
          <h2 class="mb-0">Tell us about yourself</h2>
        </div>
        <p class="mb-0">You can describe a problem, a life situation, or your current feelings.</p>
        <div class="d-flex flex-column input-box">
          <input maxlength="300" id="custom_prompt" type="text" placeholder="Example: " class="form-control">
        </div>
    </div>
    <div class="question" id="question2">
        <div class="question-title">
          <h2 class="mb-0">How emotionally stable you're?</h2>
        </div>
        <p class="mb-0">You can describe a problem, a life situation, or your current feelings.</p>
        <div class="d-flex justify-content-center gap-4 input-box">
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="feeling-happy" name="feeling" class="custom-control-input" value="feeling-happy">
                <label class="custom-control-label button-label" for="feeling-happy">Feeling Happy <span>😊</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="feeling-sad" name="feeling" class="custom-control-input" value="feeling-sad">
                <label class="custom-control-label button-label" for="feeling-sad">Feeling Sad <span>😔</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="feeling-low" name="feeling" class="custom-control-input" value="feeling-low">
                <label class="custom-control-label button-label" for="feeling-low">Feeling Low <span>😞</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="feeling-confident" name="feeling" class="custom-control-input" value="feeling-confident">
                <label class="custom-control-label button-label" for="feeling-confident">Feeling Confident <span>😎</span></label>
            </div>
        </div>            
    </div>
    <div class="question" id="question3">
        <div class="question-title">
            <h2 class="mb-0">Select your stress level accordingly.</h2>
        </div>
        <p class="mb-0">Please select a stress level based on the scale provided.</p>
        <div class="d-flex justify-content-center gap-4 input-box">
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="not-stressed" name="stress_level" class="custom-control-input" value="1">
                <label class="custom-control-label button-label" for="not-stressed">1 <span>😃</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="dilemma" name="stress_level" class="custom-control-input" value="2">
                <label class="custom-control-label button-label" for="dilemma">2 <span>😐</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="partially-stressed" name="stress_level" class="custom-control-input" value="3">
                <label class="custom-control-label button-label" for="partially-stressed">3 <span>😕</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="stressed" name="stress_level" class="custom-control-input" value="4">
                <label class="custom-control-label button-label" for="stressed">4 <span>😔</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline d-flex gap-2 align-items-center">
                <input type="radio" id="very-stressed" name="stress_level" class="custom-control-input" value="5">
                <label class="custom-control-label button-label" for="very-stressed">5 <span>😣</span></label>
            </div>
        </div>
    </div>
</div>
<div class="flex-column align-items-center" id="question-btn">
    <button id="next-btn" onclick="nextQuestion()" class="btn btn-primary btn-lg">Next</button>
</div>
<div id="my-question">
    <div class="d-flex gap-2 align-items-center mb-2">
        <i class="fa fa-user" style="    background: aquamarine;
        padding: 14px;
        border-radius: 26px;"></i>
        <p class="mb-0">Your Expressed: </p>
    </div>
    <p id="your-question"></p>
</div>
<div id="completion-container" class="">
    <div class="d-flex gap-2 align-items-center mb-2">
        <img src="{% static 'images/logo.svg' %}" alt="">
        <p>S.A.M says:</p>
    </div>
    <p id="completion"></p>
    {{ result }}
</div>
{% endblock questions %} 
    
    